.ss-wrapper,
.ms-wrapper,
.ac-wrapper {
  --cs-active-color: var(--bs-primary-bg-subtle, #cfe2ff);
  --cs-selected-color: var(--bs-gray-200, #e9ecef);

  --cs-border-width: var(--bs-border-width, 1px);
  --cs-border-color: var(--bs-border-color, #dee2e6);

  position: relative;

  .ss-box {
    position: relative;
    text-align: start;
    outline: none;
    appearance: none;
    cursor: pointer;

    word-wrap: normal;
    overflow: hidden;

    div {
      display: block;
      word-wrap: normal;
      overflow: hidden;
      width: 100%;
    }

    .ss-value-label {
      white-space: nowrap;
    }
  }

  .ss-ghost-select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .ss-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 4px);
    background-color: white;

    z-index: 10;

    width: 100%;
    height: auto; // fit-content doesn't work properly on Safari

    border: var(--cs-border-width) solid var(--cs-border-color);
    border-radius: 0 0 6px 6px;

    display: flex;
    flex-direction: column;

    .ss-options {
      flex: 1;
      max-height: 250px;
      overflow: auto;
    }

    &.loading {
      .ss-options {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.hidden {
      display: none;
    }

    .ss-dropdown-search {
      background-color: white;
      border-bottom: 1px solid var(--cs-border-color);

      padding: 0.5rem;

      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      input {
        flex: 1;
      }
    }

    .empty-results {
      display: block;
    }

    .ss-options:has(.ss-option:not(.hidden)) + .empty-results {
      display: none;
    }

    .ss-option {
      padding: 0.5rem 1rem;
      border-bottom: var(--cs-border-width) solid var(--cs-border-color);
      cursor: pointer;

      .ss-remove-icon,
      .ss-check-icon {
        float: right;
        margin-right: -0.25rem;
        display: none;
      }

      &.hidden {
        display: none;
      }

      &.selected {
        background-color: var(--cs-selected-color);
        font-weight: 600;

        .ss-remove-icon,
        .ss-check-icon {
          display: inline;
        }
      }

      &.active {
        background-color: var(--cs-active-color);
      }
    }
  }
}

.ac-wrapper {
  .ss-dropdown {
    border-radius: 6px;
    top: 100%;
  }
}
